.App {
  text-align: center;
}


.header{
  font-size: 3rem;
  text-decoration: underline;
}

nav{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.errors{
  color: tomato;
}